## 1. 데이터 불러오기

In [2]:
import pandas as pd
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/datasets/vgames2.csv'
df = pd.read_csv(url)
df

       Unnamed: 0  ... Other_Sales
0               1  ...           0
1               2  ...        0.01
2               3  ...           0
3               4  ...           0
4               5  ...        0.04
...           ...  ...         ...
16593       16594  ...        0.01
16594       16595  ...           0
16595       16596  ...        0.13
16596       16597  ...        0.03
16597       16598  ...        0.01

[16598 rows x 10 columns]

## 2. 데이터 전처리

In [4]:
df.dtypes

Unnamed: 0       int64
Name            object
Platform        object
Year           float64
Genre           object
Publisher       object
NA_Sales        object
EU_Sales        object
JP_Sales        object
Other_Sales     object
dtype: object

#### 2-1. 결측치 제거

In [6]:
df.isnull().sum()

Unnamed: 0       0
Name             0
Platform         0
Year           271
Genre           50
Publisher       58
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64

In [8]:
df = df.dropna(axis=0)
df.isnull().sum()

Unnamed: 0     0
Name           0
Platform       0
Year           0
Genre          0
Publisher      0
NA_Sales       0
EU_Sales       0
JP_Sales       0
Other_Sales    0
dtype: int64

#### 2-2. Year 네자리 수로 만들고 정수형으로 바꾸기

In [10]:
def modify_year(year):      #연도 수정하는 함수
  year = int(year)
  if year <= 22:
    return year + 2000
  elif 22 < year < 1000:
    return year + 1900
  else:
    return year

df['Year'] = df['Year'].apply(modify_year)
df

       Unnamed: 0  ... Other_Sales
0               1  ...           0
1               2  ...        0.01
2               3  ...           0
3               4  ...           0
4               5  ...        0.04
...           ...  ...         ...
16593       16594  ...        0.01
16594       16595  ...           0
16595       16596  ...        0.13
16596       16597  ...        0.03
16597       16598  ...        0.01

[16241 rows x 10 columns]

#### 2-3. 판매량 단위 통일

In [11]:
def modify_sales(sales):        #판매량 수정하는 함수
  if 'M' in sales:
    return float(sales.replace('M', ''))
  elif 'K' in sales:
    return float(sales.replace('K', '')) * 0.001
  else:
    return float(sales)

df['NA_Salesr'] = df['NA_Sales'].apply(modify_sales)
df['EU_Sales'] = df['EU_Sales'].apply(modify_sales)
df['JP_Sales'] = df['JP_Sales'].apply(modify_sales)
df['Other_Sales'] = df['Other_Sales'].apply(modify_sales)
df

       Unnamed: 0  ... NA_Salesr
0               1  ...      0.04
1               2  ...      0.17
2               3  ...      0.00
3               4  ...      0.04
4               5  ...      0.12
...           ...  ...       ...
16593       16594  ...      0.15
16594       16595  ...      0.01
16595       16596  ...      0.44
16596       16597  ...      0.05
16597       16598  ...      0.00

[16241 rows x 11 columns]

#### 2-4. 전처리 확인

In [12]:
df.dtypes

Unnamed: 0       int64
Name            object
Platform        object
Year             int64
Genre           object
Publisher       object
NA_Sales        object
EU_Sales       float64
JP_Sales       float64
Other_Sales    float64
NA_Salesr      float64
dtype: object

## 3. 지역에 따라서 선호하는 게임 장르가 다를까?